/*-- scss:defaults --*/
$link-color: #00A000;

/*-- scss:rules --*/
.navbar-logo {
  max-height: 50px;
}

:root {
  --theme: #00A000;
  --background: #444444;
  --highlight: #DDDDDD;
}

nav.navbar, nav .navbar-container {
  background-color: var(--background);
  background-image: none;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.navbar-dark .navbar-nav .nav-link {
  color: var(--theme);
}

/* project lists */

.projlist, .paperlist  {
  list-style-type: none;
}

.projlist li, .paperlist li {
  clear: both;
}

.projlist li > div:first-child {
  width: 20%;
  max-width: 150px;
  min-width: 50px;
  vertical-align: top;
  float: left;
}

.projlist li > div:first-child img {
    display: block;
    width: 100%;
}

.projlist li .projinfo {
  margin-left: 22.5%;
}

.personnel { 
  list-style-type: none; 
  font-size: 60%;
  margin: 1em 0 0 0;
  padding: 0;
}

.projlist .abstract {
  overflow: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* lists of link buttons */

.buttonlist {
  padding-left: 0;
}
.buttonlist li {
  list-style: none;
  display: inline;
}

.buttonlist li a {
  border: 1px solid var(--theme);
  background-color: var(--background);
  color: var(--theme);
  border-radius: .5em;
  padding: .25em .5em;
  text-decoration: none;
}

.buttonlist li a:hover {
  border-color: var(--highlight);
  background-color: var(--theme);
  color: var(--highlight);
}

.altmetric-embed {
    float: left;
    clear: left;
    margin: 0 1em 1em 0;
}
.altmetric-embed a {
    border-bottom: none;
    background-color: var(--highlight);
    border-radius: 100%;
}

.projlist .altmetric-embed {
    float: right;
    clear: none;
    margin: 0 0 0 1em;
}